
 	* {
      margin: 0; padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */ 
    }
    li { list-style: none; }
    a { text-decoration: none; }
    
    header{        
        /* background-color: #c0c0c0;  */
        font-size: 25px;
    }
    
    .logo {
      /* display: inline-block;
      float: left;
      height: 36px;
      margin: 10px 0 10px 20px; */
    }
    /* .logo > img { height: 36px; } */
    
    .nav22{
    	display: flex;
        justify-content: space-around;
    }
    
    .nav-go{
      margin-right: 20px;
    }
    .nav-go > li{
      display: inline-block;  /* 가로정렬 */
    }
    .nav-go > li > a {
      /* for Vertical Centering */
      line-height: 60px;
      padding: 0 30px;
      color: rgb(255, 51, 0);
      /* color: ff3300; */
    }
   .nav-go > li > a:hover {
      color: rgba(255, 51, 0, 0.8);
    }
    
    
    .nav-items {
      margin-right: 20px;
    }
    .nav-items > li {
      display: inline-block;  /* 가로정렬 */
    }
    .nav-items > li > a {
      /* for Vertical Centering */
      line-height: 60px;
      padding: 0 30px;
      color: rgba(0, 0, 0, 0.4);
    }
   .nav-items > li > a:hover {
      color: rgba(0, 0, 0, 0.8);
    }
